* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  display: inline-block;
}

.blurred-wrapper {
  height: 100vh;
  background: url("./images/wallpaper.jpg") center/cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  animation: hue 10s infinite alternate;
}

.blurred-wrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(2rem);
    transform: scale(1.15);
}

@keyframes hue {
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.main-header {
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.logo {
    font-size: 2.6rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.btn {
    padding: 1rem 2.5rem;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 2.5rem;
    color: #fff;
    background-color: rgba(34, 170, 84);
}

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 12rem);
}

.content-wrapper {
    max-width: 40rem;
    transform: translateY(-4rem);
}

.tagline {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.title {
    display: flex;
    margin-bottom: 2rem;

}

.card-img {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: center;
    width: 100px;
    height: 200px;
    margin: 0 auto;
    z-index: -1;
}

.message {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.cta {
    position: absolute;
    margin-top: 30rem;
    padding: 1.5rem 2.5rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    z-index: 1;
}

.cta:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
}

img {
    display: flex;
    margin-left: 32rem;
    margin-top: 10rem;
}

@media screen and (min-width: 768px) {
    .btn {
        padding: 1.5rem 3rem;
    }

    .content-wrapper {
        max-width: 60rem;
    }

    .tagline {
        font-size: 1.5rem;
    }

    .title {
        font-size: 6rem;
    }

    .message {
        font-size: 2rem;
    }
}